@charset "UTF-8";
html {
  color: #000;
  background: #FFF;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, select, main, address, span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 140%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
  box-sizing: border-box;
}

a, span, details, summary {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal;
}

strong {
  font-style: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-bottom;
}

sub {
  vertical-align: text-top;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input, textarea, select {
  *font-size: 100%;
}

legend {
  color: #000;
}

figure {
  margin: 0;
}

img {
  backface-visibility: hidden;
}

html {
  font-size: 62.5%;
}
@media (max-width: 767px) {
  html {
    font-size: 62.8%;
  }
}
html:has(.is-android) {
  font-size: 58%;
}

body {
  font-size: 1.4rem;
  color: #000;
  font-family: Hiragino Kaku Gothic Pro, 游ゴシック体, Yu Gothic Medium, Yu Gothic, Meiryo, sans-serif;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}
body.scroll {
  overflow: auto;
}

@media (max-width: 767px) {
  .for-pc {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .for-sp {
    display: none !important;
  }
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}
a img {
  opacity: 1;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  a:hover img {
    opacity: 0.8;
  }
}
@media (max-width: 767px) {
  a:active img {
    opacity: 0.8;
  }
}

p {
  line-height: 190%;
}
p + p {
  margin-top: 1.2rem;
}
@media (min-width: 768px) {
  p a:hover {
    color: #019ab3;
  }
}
@media (max-width: 767px) {
  p a:active {
    color: #019ab3;
  }
}

ol {
  padding-left: 2rem;
}

ruby rt {
  font-size: 40%;
}

em {
  color: #e13838;
}

input[type=text],
input[type=tel],
input[type=email],
textarea {
  appearance: none;
  padding: 8px 10px;
  border: 1px solid #b7b7b7;
}
@media (max-width: 767px) {
  input[type=text],
  input[type=tel],
  input[type=email],
  textarea {
    font-size: 1.6rem;
  }
}

select {
  padding: 8px 10px;
  border: 1px solid #b7b7b7;
}

textarea {
  width: 100%;
  height: 200px;
}

.col {
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 767px) {
  .col {
    display: block;
  }
}
@media (max-width: 767px) {
  .col.is-sp-flex {
    display: flex;
  }
}
.col.is-oneline {
  flex-wrap: nowrap;
  justify-content: space-between;
}
.col-contents {
  width: 100%;
}
@media (max-width: 767px) {
  .col-contents {
    max-width: 100%;
  }
  .col:not(.is-sp-flex) .col-contents + .col:not(.is-sp-flex) .col-contents {
    margin-top: 10px;
  }
}
.is-oneline .col-contents {
  margin-bottom: 0;
}
.is-oneline .col-contents + .col-contents {
  margin-left: 2%;
}
@media (max-width: 767px) {
  .is-oneline:not(.is-sp-flex) .col-contents {
    max-width: 100%;
    margin: auto;
  }
  .is-oneline:not(.is-sp-flex) .col-contents + .col-contents {
    margin-top: 30px;
  }
}
.is-2 .col-contents {
  max-width: 48%;
}
.is-2 .col-contents:nth-child(even) {
  margin-left: calc(4% - 1px);
}
.is-2 .col-contents:nth-child(n+3) {
  margin-top: 30px;
}
@media (max-width: 767px) {
  .is-2 .col-contents:nth-child(n+3) {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .is-2:not(.is-sp-flex) .col-contents {
    max-width: 100%;
    margin: auto;
  }
  .is-2:not(.is-sp-flex) .col-contents + .col-contents {
    margin-top: 30px;
  }
}
.is-3 .col-contents {
  max-width: 32%;
}
.is-3 .col-contents:not(:nth-child(3n+1)) {
  margin-left: calc(2% - 1px);
}
.is-3 .col-contents:nth-child(n+4) {
  margin-top: 30px;
}
@media (max-width: 767px) {
  .is-3 .col-contents:nth-child(n+4) {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .is-3:not(.is-sp-flex) .col-contents {
    max-width: 100%;
    margin: auto;
  }
  .is-3:not(.is-sp-flex) .col-contents + .col-contents {
    margin-top: 30px;
  }
}
.is-4 .col-contents {
  max-width: 23%;
}
.is-4 .col-contents:not(:nth-child(4n+1)) {
  margin-left: calc(2.6% - 1px);
}
.is-4 .col-contents:nth-child(n+5) {
  margin-top: 30px;
}
@media (max-width: 767px) {
  .is-4 .col-contents:nth-child(n+5) {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .is-4:not(.is-sp-flex) .col-contents {
    max-width: 100%;
    margin: auto;
  }
  .is-4:not(.is-sp-flex) .col-contents + .col-contents {
    margin-top: 30px;
  }
}
.col-contents-title {
  margin-bottom: 5px;
}
.col-contents-text {
  margin-top: 5px;
}

.flImgContents-img {
  max-width: 37%;
  width: 100%;
}
@media (max-width: 767px) {
  .flImgContents-img {
    max-width: 100%;
  }
}
.flImgContents-img.is-s {
  max-width: 200px;
}
@media (max-width: 767px) {
  .flImgContents-img.is-s {
    max-width: 100%;
  }
}
.flImgContents-img.is-ss {
  max-width: 100px;
}
@media (max-width: 767px) {
  .flImgContents-img.is-ss {
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
}
.flImgContents-img.is-l {
  max-width: 47%;
}
@media (max-width: 767px) {
  .flImgContents-img.is-l {
    max-width: 100%;
  }
}
.flImgContents-img.is-fr {
  float: right;
  margin: 0 0 20px 40px;
}
@media (max-width: 767px) {
  .flImgContents-img.is-fr {
    margin: 0 auto 20px;
  }
  .flImgContents-img.is-fr:not(.is-sp-float) {
    float: none;
  }
  .flImgContents-img.is-fr.is-sp-float {
    width: 35%;
    margin: 0 0 10px 10px;
  }
}
.flImgContents-img.is-fl {
  float: left;
  margin: 0 40px 20px 0;
}
@media (max-width: 767px) {
  .flImgContents-img.is-fl {
    margin: 0 auto 20px;
  }
  .flImgContents-img.is-fl:not(.is-sp-float) {
    float: none;
  }
  .flImgContents-img.is-fl.is-sp-float {
    width: 35%;
    margin: 0 10px 10px 0;
  }
}

.text-s {
  font-size: 85%;
}

.text-l {
  font-size: 120%;
}

.cl-red {
  color: #ff0000;
}

.list-normal > li {
  margin: 0 0 10px;
  text-indent: -1.6rem;
  padding-left: 1.6rem;
}
.list-normal > li::before {
  content: "●";
  margin-right: 5px;
  font-size: 10px;
  font-family: sans-serif;
  color: #ef4d63;
}

.list-number {
  padding: 0 0 0 25px;
}
.list-number > li {
  list-style: decimal;
  margin: 0 0 10px;
}

.list-numbold {
  counter-reset: li;
  list-style: none;
  padding-left: 2.5rem;
}
.list-numbold > li::before {
  margin: 0 5px 0 -2rem;
  width: 2.5rem;
  content: counter(li) ". ";
  counter-increment: li;
  font-weight: bold;
}

.al-r {
  text-align: right;
}

.al-c {
  text-align: center;
}

.full {
  width: 100%;
}

.size-30 {
  width: 30%;
}
@media (max-width: 767px) {
  .size-30 {
    width: 70%;
  }
}

.size-60 {
  width: 60%;
}
@media (max-width: 767px) {
  .size-60 {
    width: 100%;
  }
}

.indent {
  width: 97%;
  margin: 0 0 0 auto;
}

.section-small {
  margin-top: 20px;
  margin-bottom: 20px;
}

.section-1 {
  margin-top: 30px;
  margin-bottom: 40px;
}
.section-1:first-child {
  margin-top: 0;
}

.section-2 {
  margin-top: 40px;
  margin-bottom: 70px;
}
.section-2:first-child {
  margin-top: 0;
}

.section-3 {
  margin-top: 40px;
  margin-bottom: 100px;
}
.section-3:first-child {
  margin-top: 0;
}

.section-center {
  max-width: 1000px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) and (max-width: 1099px) {
  .section-center {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .section-center-sp {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.nowrap {
  white-space: nowrap;
}

.table-1 {
  border-collapse: collapse;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.table-1 tr {
  border-bottom: 2px dotted #ccc;
}
.table-1 th, .table-1 td {
  padding: 13px;
}
@media (max-width: 767px) {
  .table-1 th, .table-1 td {
    font-size: 1.3rem;
  }
}
.table-1 th {
  background: #fcfbf5;
  color: #ef4d63;
}
.table-1 a {
  color: #019ab3;
}
@media (max-width: 767px) {
  .table-1.is-sideTitle th {
    padding: 10px 0;
  }
  .table-1.is-sideTitle td {
    padding: 20px 0;
  }
}

@media (max-width: 767px) {
  .is-sideTitle tr {
    display: block;
  }
  .is-sideTitle th, .is-sideTitle td {
    display: block;
    width: 100%;
    padding: 0;
  }
  .is-sideTitle th {
    margin-bottom: 5px;
    font-weight: bold;
  }
}

.wfix {
  table-layout: fixed;
}

@media (max-width: 767px) {
  .tableScrollWrap {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
  }
}

.title-bold {
  margin-bottom: 5px;
  font-size: 1.6rem;
  font-weight: bold;
}

.filter {
  position: fixed;
  width: 100%;
  height: 120%;
  bottom: 0;
  left: 0;
  pointer-events: none;
  transition: all 0.3s;
  z-index: 1;
}
.dwMenu-active .filter {
  background: rgba(0, 0, 0, 0.4);
  pointer-events: auto;
}#canvas:where(.astro-J7PV25F6){position:fixed;top:0;left:0;width:100vw;height:100vh;pointer-events:none}#canvas:where(.astro-J7PV25F6).mouseControl{pointer-events:all;z-index:2}.btns:where(.astro-J7PV25F6){position:fixed;bottom:10px;right:30px;display:flex;align-items:center;border-radius:5px;gap:20px;padding:5px 20px;background:rgba(0,0,0,0.707);z-index:2}@media (max-width: 767px){.btns:where(.astro-J7PV25F6){width:100%;right:0;bottom:0;flex-wrap:wrap;gap:10px;font-size:1.2rem;padding-bottom:10px;border-radius:0}}.btns-mouse:where(.astro-J7PV25F6),.btns-scroll:where(.astro-J7PV25F6){display:flex;align-items:center;color:#fff;gap:5px}.btns-mouse:where(.astro-J7PV25F6) input:where(.astro-J7PV25F6),.btns-scroll:where(.astro-J7PV25F6) input:where(.astro-J7PV25F6){font-weight:bold}.btns-range:where(.astro-J7PV25F6){display:flex;align-items:center;gap:10px;color:#fff}.btns:where(.astro-J7PV25F6) .paramScrollY:where(.astro-J7PV25F6){color:#fff}.btns:where(.astro-J7PV25F6) .paramScrollY:where(.astro-J7PV25F6) #scrollY:where(.astro-J7PV25F6){width:60px;margin-left:5px;background:#fff;color:#000;text-align:center;display:inline-block}.contents:where(.astro-J7PV25F6){position:relative;z-index:1}.sectionbox:where(.astro-J7PV25F6){width:40%;height:fit-content;margin-left:auto;margin-right:20px;border-radius:10px;border:4px solid rgba(0,0,0,0.707);background:rgba(253,253,253,0.777);font-size:1.8rem;font-weight:bold;padding:20px}@media (max-width: 767px){.sectionbox:where(.astro-J7PV25F6){font-size:1.6rem;width:80%;margin-right:auto}.sectionbox:where(.astro-J7PV25F6) p:where(.astro-J7PV25F6){line-height:1.4}}.sectionbox:where(.astro-J7PV25F6).is-1{margin-top:3500px}.sectionbox:where(.astro-J7PV25F6).is-2{margin-top:2300px}.sectionbox:where(.astro-J7PV25F6).is-3{margin-top:2800px}.sectionbox:where(.astro-J7PV25F6).is-4{margin-top:1200px;margin-bottom:1000px}